.App {
  display: flex;
  align-items: center;
  height: 625px;
  background-size: 100%;
  background-image: url(https://images.pling.com/img/00/00/62/09/22/1634150/577c4dc30402a8dfa3915867a59e64a89b7b8ed586c83ceaeb437816027bc129f6f7.jpg);
}
.uncomp {
  color: black;
  width: 260px;
  height: 30px;
  font-size: 20px;

  margin: 5px 0 5px 0;
}
.comp {
  margin: 5px 0 5px 0;
  font-size: 20px;
  width: 260px;
  height: 30px;

  color: rgba(128, 128, 128, 0.439);
  text-decoration: line-through;

  align-self: center;
}

.todos {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgba(13, 13, 13, 0.365);
  width: 500px;
  margin-left: 400px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.289);
}
.addInput {
  width: 500px;
  height: 50px;

  display: flex;
  justify-content: space-between;
}
.addForm {
  width: 450px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.innput {
  width: 360px;
  height: 40px;
}
.buttAdd {
  height: 40px;
  width: 50px;
  border-radius: 10px rgba(101, 101, 255, 0.365);
  background-color: rgb(168, 168, 254);
}
.buttFilter {
  height: 40px;
  width: 50px;
  border-radius: 10px rgb(3, 136, 3);
  background-color: rgb(3, 173, 3);
  margin-right: 10px;
}
.todoCard {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Button {
  width: 80px;
  border: 1px grey solid;
  height: 48px;
  border-radius: 3px;
  font-size: 12px;
}
.title {
  width: 300px;
  height: 50px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  text-align: center;
  border-radius: 10px;
}
